/*  
    template-name: shotgear;
    The owner of the template: ahmed samy;
    template-version: 1.0;
    Date created: 22/2/2020
*/
/*start tp-bannercontainer*/
.tp-bannercontainer {
  /*bannercontainer*/
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tp-bannercontainer .tparrows {
  /*tparrow in bannercontainer*/
  background: none !important;
}

.tp-bannercontainer .tparrows.hidearrows {
  /*hidearrows*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.tp-bannercontainer .tparrows.tp-leftarrow, .tp-bannercontainer .tparrows.tp-rightarrow {
  background: none;
  width: 70px !important;
  height: 70px !important;
}

.tp-bannercontainer .tparrows.tp-leftarrow:hover, .tp-bannercontainer .tparrows.tp-rightarrow:hover {
  /*when do hover on leftarrow & rightarrow*/
  background-position: unset;
}

.tp-bannercontainer .tparrows .demo-icon {
  /*demo-icon in arrow*/
  line-height: 70px;
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.3);
  color: #fff !important;
  font-weight: bolder;
  width: 70px !important;
  height: 70px !important;
}

.tp-bannercontainer .tp-banner {
  /*tp-banner in bannercontainer*/
  width: 100%;
  position: relative;
}

.tp-bannercontainer .tp-banner ul li img {
  /*img in grid*/
  width: 100%;
}

.tp-bannercontainer .tp-banner ul li .tp-caption {
  /*tp-caption in grid*/
}

.tp-bannercontainer .tp-banner ul li .tp-caption.finewide_small_white {
  /*caption finewide_small_white in grid*/
  font-size: 22px;
  line-height: 20px;
  font-family: inherit;
  letter-spacing: 5px;
}

.tp-bannercontainer .tp-banner ul li .tp-caption.boldwide_medium_white {
  /*caption boldwide_medium_white  in grid*/
  font-size: 44px;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-width: 0px;
  border-color: #182028;
  border-style: none;
}

.tp-bannercontainer .tp-banner ul li .tp-caption span {
  /*span in caption*/
  color: #FF4800;
}

/*end tp-bannercontainer*/
/*start about-our-studio*/
.about-our-studio {
  /*about-our-studio*/
  padding: 100px 0 0;
  background: #fff;
}

.about-our-studio h5 {
  /*h5 in about-our-studio*/
  color: #FF4800;
}

.about-our-studio h2 {
  /*h2 in about-our-studio*/
  color: #182028;
  font-weight: 700;
  margin-bottom: 40px;
}

.about-our-studio p {
  /*p in about-our-studio*/
  color: #7f7f7f;
  margin-bottom: 40px;
}

.about-our-studio .btn-custom {
  /*btn-custom in form*/
  color: #fff;
}

.about-our-studio .btn-custom:focus, .about-our-studio .btn-custom:hover {
  color: #fff;
}

/*end about-our-studio*/
/*start recent-project*/
.recent-project {
  padding: 100px 0 0;
  background: #fff;
}

.recent-project h5 {
  /*h5 in recent-project*/
  color: #FF4800;
}

.recent-project h2 {
  /*h2 in recent-project*/
  font-weight: 700;
  margin-bottom: 40px;
}

.recent-project .tabs {
  /*tabs in recent-project*/
  margin-bottom: 40px;
}

.recent-project .tabs span {
  /*span in tabs*/
  margin: 0 20px;
  line-height: 50px;
}

.recent-project .tabs span a {
  /*custom-anchor in tabs*/
  color: #182028;
  cursor: pointer;
}

.recent-project .tabs span a::before, .recent-project .tabs span a::after {
  /*before & after custom-anchor in tabs*/
  background: #FF4800;
}

.recent-project .tabs span a:hover, .recent-project .tabs span a.active {
  /*hover & active custom-anchor in tabs*/
  color: #FF4800;
}

.recent-project .gallery .col-md-4, .recent-project .gallery .col-md-6 {
  /*grid in gallery for bootstrap*/
  padding: 2px;
}

.recent-project .gallery .item {
  /*item in gallery*/
  overflow: hidden;
  position: relative;
}

.recent-project .gallery .item img {
  /*img in item*/
  width: 100%;
  height: auto;
}

.recent-project .gallery .item .over-lay {
  /*over-lay in item*/
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(24, 32, 40, 0.9);
  padding: 40% 0;
}

.recent-project .gallery .item .over-lay h4 {
  /*h4 in over-lay*/
  color: #dddfdf;
}

.recent-project .gallery .item .over-lay h4:hover {
  /*when hover on h4*/
  color: #FF4800;
}

.recent-project .gallery .item .over-lay .zoom-in-out {
  /*zoom-in-out in over-lay*/
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
}

.recent-project .gallery .item .over-lay .zoom-in-out span {
  /*span in zoom-in-out*/
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
}

.recent-project .gallery .item .over-lay .zoom-in-out span.active, .recent-project .gallery .item .over-lay .zoom-in-out span:hover {
  /*span active,hover in zoom-in-out*/
  color: #FF4800;
}

.recent-project .gallery .item .cancel {
  /*cancel in item*/
  position: absolute;
  bottom: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recent-project .gallery .item .cancel:before {
  /*before cancel*/
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.recent-project .gallery .item:hover {
  /*when hover on item*/
}

.recent-project .gallery .item:hover .over-lay {
  left: 0;
}

.recent-project .gallery .item.zin img {
  /*img when click on zoomin*/
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.recent-project .gallery .item.zin .cancel {
  /*cancel when click on zoomin*/
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.recent-project .gallery .item.zin .cancel:before {
  /*before cancel when click on zoomin*/
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.recent-project .gallery .item.zin .cancel:hover:before {
  /*before cancel when click on zoomin and hover on cancel*/
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.recent-project .gallery .item.zin:hover img {
  /*hover on img if click on zoomin*/
  -webkit-transform: scale(2);
          transform: scale(2);
}

.recent-project .gallery .item.zin:hover .over-lay {
  /*over-lay if click on zoomin*/
  left: -100%;
}

.recent-project .more {
  /*more in gallery pages only*/
  margin: 70px 0 100px;
}

.recent-project .more .btn-custom {
  /*btn-custom in form*/
  color: #fff;
}

.recent-project .more .btn-custom:focus {
  color: #fff;
}

.recent-project .more span.pages {
  /*span in more in gallery pages only*/
  display: inline-block;
  margin: 0 4px;
  width: 40px;
  height: 40px;
  background: #FF4800;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.recent-project .more span.pages.active, .recent-project .more span.pages:hover {
  /*span active,hover in more in gallery pages only*/
  background: #182028;
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end recent-project*/
/*start our-services*/
.our-services {
  padding: 100px 0 0;
  background: #fff;
}

.our-services h5 {
  /*h5 in our-services*/
  color: #FF4800;
}

.our-services h2 {
  /*h2 in our-services*/
  font-weight: 700;
  margin-bottom: 60px;
}

.our-services .ser {
  /*ser in our-services*/
  overflow: hidden;
  margin-bottom: 40px;
}

.our-services .ser.one, .our-services .ser.four {
  /*ser one&four in our-services*/
  height: 500px;
  background: #fcf7f7;
  padding: 100px 20px;
}

@media (max-width: 767px) {
  .our-services .ser.one, .our-services .ser.four {
    /*xs*/
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .our-services .ser.one, .our-services .ser.four {
    /*sm*/
    height: auto;
  }
}

.our-services .ser.one img, .our-services .ser.four img {
  /*img in ser one&four*/
  margin-bottom: 40px;
}

.our-services .ser.one h4, .our-services .ser.four h4 {
  /*h4 in ser one&four*/
  color: #182028;
  margin-bottom: 40px;
}

.our-services .ser.one p, .our-services .ser.four p {
  /*p in ser one&four*/
  color: #999;
  margin-bottom: 40px;
  line-height: 28px;
}

/*end our-services*/
/*start testimonials*/
.testimonials {
  padding: 100px 0 0;
  background: #fff;
}

.testimonials h5 {
  /*h5*/
  color: #FF4800;
}

.testimonials h2 {
  /*h2*/
  font-weight: 700;
  margin-bottom: 60px;
}

.testimonials .photos {
  /*photos in testimonials*/
  margin-bottom: 20px;
}

.testimonials .photos img {
  width: 100%;
}

.testimonials .content {
  /*content in testimonials*/
  height: auto;
  padding: 30px;
}

.testimonials .content .testi {
  /*testi in content*/
  overflow: hidden;
  display: none;
}

.testimonials .content .testi h3 {
  /*h3 in testi*/
  margin: 0 0 40px;
  color: #182028;
}

.testimonials .content .testi p {
  /*p in testi*/
  color: #7f7f7f;
  line-height: 30px;
  margin-bottom: 10px;
}

.testimonials .content .testi h4 {
  /*h4 in testi*/
  color: #182028;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .content .testi span {
  /*span in testi*/
  color: #FF4800;
  float: left;
}

.testimonials .control {
  /*control in testimonials*/
  padding: 30px;
}

.testimonials .control span {
  /*span in control*/
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: rgba(24, 32, 40, 0.5);
  cursor: pointer;
}

.testimonials .control span:hover, .testimonials .control span.active {
  background: #FF4800;
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end testimonials*/
/*start pricing*/
.pricing {
  padding: 100px 0 0;
  background: #fff;
}

.pricing h5 {
  /*h5 in pricing*/
  color: #FF4800;
}

.pricing h2 {
  /*h2 in pricing*/
  font-weight: 700;
  margin-bottom: 60px;
}

.pricing .plan {
  /*plan in pricing*/
  padding: 20px;
}

.pricing .plan .head {
  /*head in plan*/
  background: #fff;
  border: 1px solid #dddfdf;
  padding: 30px 15px;
  margin-bottom: 30px;
}

.pricing .plan .head h3 {
  /*h3 in head*/
  font-size: 30px;
  font-weight: 700;
}

.pricing .plan .body {
  /*body in plan*/
  border: 1px solid #dddfdf;
  padding: 30px 15px;
  background: #fff;
}

.pricing .plan .body p {
  /*p in body*/
  color: #7f7f7f;
  margin: 20px;
}

.pricing .plan .body .btn-custom {
  /*btn-custom in form*/
  color: #fff;
}

.pricing .plan .body .btn-custom:focus {
  color: #fff;
}

.pricing .plan:hover {
  /*when hover on plan*/
  background: #182028;
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end pricing*/
/*start product*/
.product {
  padding: 100px 0 0;
  background: #fff;
}

.product h5 {
  /*h5 in product*/
  color: #FF4800;
}

.product h2 {
  /*h2 in product*/
  margin-bottom: 60px;
  font-weight: 700;
}

.product .pro {
  /*pro in product*/
  padding: 50px 15px;
  position: relative;
  margin-bottom: 15px;
  background: #fff;
  outline: 1px solid #fcf7f7;
  overflow: hidden;
}

.product .pro::before {
  /*before product*/
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.product .pro h3 {
  /*h3 in pro*/
  color: #182028;
  margin-bottom: 30px;
}

.product .pro p {
  /*p in pro*/
  color: #7f7f7f;
  line-height: 25px;
  margin-bottom: 30px;
}

.product .pro img {
  /*img in pro*/
  margin-bottom: 20px;
}

.product .pro:hover {
  /*when hover on pro*/
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.05);
}

.product .pro:hover::before {
  left: 100%;
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end product*/
/*start choose-us*/
.choose-us {
  padding: 100px 0 0;
  background: #fff;
}

.choose-us h5 {
  /*h5 in choose-us*/
  color: #FF4800;
}

.choose-us h2 {
  /*h2 in choose-us*/
  font-weight: 700;
  margin-bottom: 60px;
}

.choose-us .tabs .item {
  /*item in tabs*/
  background: #fcf7f7;
  color: #182028;
  padding: 25px 0;
}

.choose-us .tabs .item h4 {
  /*h4 in item*/
  font-size: 14px;
}

.choose-us .tabs .item h4 a {
  cursor: pointer;
}

.choose-us .tabs .item h4 a::after, .choose-us .tabs .item h4 a::before {
  /*after & before custom-anchor*/
  background: #FF4800;
}

.choose-us .tabs .item h4 a:hover, .choose-us .tabs .item h4 a.active {
  /*hover on custom-anchor*/
  color: #FF4800;
}

.choose-us .parent {
  /*parent in choose-us*/
  margin-top: 60px;
}

.choose-us .parent .child {
  /*child in parent*/
  display: none;
}

.choose-us .parent .child .text {
  /*text in child*/
  color: #7f7f7f;
}

@media (max-width: 767px) {
  .choose-us .parent .child .text {
    /*xs*/
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .choose-us .parent .child .text {
    /*sm*/
    margin-bottom: 30px;
  }
}

.choose-us .parent .child .text p:first-of-type {
  /*first p in text*/
  line-height: 30px;
  margin-bottom: 40px;
}

.choose-us .parent .child .photo {
  /*photo in child*/
  overflow: hidden;
}

@media (max-width: 767px) {
  .choose-us .parent .child .photo img {
    /*xs*/
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .choose-us .parent .child .photo img {
    /*sm*/
    width: 100%;
  }
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end choose-us*/
/*start blog*/
.blog {
  padding: 100px 0 0;
  background: #fff;
}

.blog h5 {
  /*h5 in blog*/
  color: #FF4800;
}

.blog h2 {
  /*h2 in blog*/
  font-weight: 700;
  margin-bottom: 60px;
}

.blog .post {
  /*post in blog*/
  -webkit-box-shadow: 0px 10px 20px 0px rgba(221, 223, 223, 0.5);
          box-shadow: 0px 10px 20px 0px rgba(221, 223, 223, 0.5);
  margin-bottom: 30px;
}

.blog .post .photo {
  /*photo in post*/
  position: relative;
}

.blog .post .photo img {
  /*img in photo*/
  width: 100%;
}

.blog .post .photo .date {
  /*date in photo*/
  position: absolute;
  bottom: -20px;
  left: 10px;
  background: #FF4800;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.blog .post .info {
  /*info in post*/
  padding: 35px 20px;
}

.blog .post .info h4 {
  /*h4 in info*/
  color: #182028;
  margin-bottom: 15px;
}

.blog .post .info h4 a {
  /*a in h4*/
  font-size: 18px;
}

.blog .post .info p {
  /*p in info*/
  color: #7f7f7f;
  margin: 20px 0;
}

.blog .post .info a {
  /*a in info*/
  color: #182028;
  font-size: 12px;
}

.blog .post .info a:hover {
  color: #FF4800;
}

.blog .more {
  /*more in blog pages only*/
  margin: 70px 0 100px;
}

.blog .more .btn-custom {
  /*btn-custom in form*/
  color: #fff;
}

.blog .more .btn-custom:focus {
  color: #fff;
}

.blog .more span.pages {
  /*span in more in blog pages only*/
  display: inline-block;
  margin: 0 4px;
  width: 40px;
  height: 40px;
  background: #FF4800;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.blog .more span.pages.active, .blog .more span.pages:hover {
  /*span active,hover in more in blog pages only*/
  background: #182028;
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end blog*/
/*start they-trust-us*/
.they-trust-us {
  padding: 100px 0 0;
  background: #fff;
}

.they-trust-us h5 {
  /*h5 in they-trust-us*/
  color: #FF4800;
}

.they-trust-us h2 {
  /*h2 in they-trust-us*/
  font-weight: 700;
  margin-bottom: 60px;
}

.they-trust-us .brand {
  /*brand in they-trust-us*/
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
  background: #fcf7f7;
  border: 1px solid #F4F4F4;
  cursor: pointer;
}

.they-trust-us .brand::after {
  /*after brand*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .4;
}

.they-trust-us .brand::before {
  /*before brand*/
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.they-trust-us .brand img {
  /*img in brand*/
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.they-trust-us .brand img:first-of-type {
  /*first img in brand*/
  top: 20px;
}

.they-trust-us .brand img:last-of-type {
  /*last img in brand*/
  bottom: 0;
}

.they-trust-us .brand:hover {
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.05);
  /*when hover on they-trust-us*/
}

.they-trust-us .brand:hover::after {
  /*when hover on they-trust-us*/
  background: none;
}

.they-trust-us .brand:hover::before {
  /*when hover on they-trust-us*/
  left: 100%;
}

.recent-project .gallery .item .over-lay, .recent-project .gallery .item .over-lay h4, .recent-project .gallery .item .over-lay .zoom-in-out span, .recent-project .gallery .item .cancel, .recent-project .more span.pages, .testimonials .control span, .product .pro::before, .blog .post .info a, .blog .more span.pages, .they-trust-us .brand, .they-trust-us .brand::after, .they-trust-us .brand::before {
  /*transition .3s*/
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing .plan, .product .pro {
  /*transition .5s*/
  -webkit-transition: .5s;
  transition: .5s;
}

/*end they-trust-us*/
/*start subscrib*/
.subscrib {
  margin: 100px 0 0;
  padding: 50px 0 0;
  background: url("../photo/backgrounds/1.png") no-repeat center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 341px;
}

.subscrib h5 {
  /*h5 in subscrib*/
  color: #fff;
}

.subscrib h2 {
  /*h2 in subscrib*/
  color: #FF4800;
}

.subscrib form {
  /*form in subscrib*/
  margin-top: 60px;
}

@media (max-width: 767px) {
  .subscrib form {
    /*xs*/
    margin-top: 30px;
  }
}

.subscrib form input {
  /*input in form*/
  color: #182028;
  font-size: 18px;
  border-radius: 0;
  padding: 24px 20px;
  width: calc(100% - 220px) !important;
}

@media (max-width: 767px) {
  .subscrib form input {
    /*xs*/
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.subscrib form input::-webkit-input-placeholder {
  /*placeholder input in form*/
  font-size: 14px;
}

.subscrib form input:-ms-input-placeholder {
  /*placeholder input in form*/
  font-size: 14px;
}

.subscrib form input::-ms-input-placeholder {
  /*placeholder input in form*/
  font-size: 14px;
}

.subscrib form input::placeholder {
  /*placeholder input in form*/
  font-size: 14px;
}

.subscrib form .btn-custom {
  /*btn-custom in form*/
  color: #fff;
}

.subscrib form .btn-custom:focus {
  color: #fff;
}

@media (max-width: 767px) {
  .subscrib form .btn-custom {
    /*xs*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*end subscrib*/
