$wh: #fff;
$bk: #182028;
$or: #FF4800;
$ofwh: #fcf7f7;
$offwh: #F4F4F4;
$bk2: #1e2528;
$gray: #2d3032;
$wr1: #999;
$wr2: #7f7f7f;
$lighter: #dddfdf;
$wh-opacity-1: rgba(255, 255, 255, 0.1);
$wh-opacity-2: rgba(255, 255, 255, 0.2);
$wh-opacity-3: rgba(255, 255, 255, 0.3);
$wh-opacity-4: rgba(255, 255, 255, 0.4);
$wh-opacity-5: rgba(255, 255, 255, 0.5);
$bk-opacity-5: rgba(#182028, 0.5);